

  server:
    port: 8090

  spring:
    application:
      name: demo
      datasource:
        url: jdbc:h2:mem:testhasandb
        driver-class-name: org.h2.Driver
        username: sa
        password: ""


